{
  "rules": {
    "no-undef": "off",
    "semi": [
      2,
      "always"
    ]
  },
  "extends": [
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "experimentalObjectRestSpread": true
    }
  },
  "settings": {
    "react": {
      "version": "^17.0.2"
    }
  }
}
